.header {
  z-index: 999;
  position: fixed;
  overflow: hidden;
  top: 0px;
  padding: 8px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgb(105 105 105 / 10%);
  height: 7rem;

  &__logo {
    svg {
      height: 100%;
      transition: 0.3s;
    }
  }
  &.shrink {
    height: 4rem;
    .header__logo {
      svg {
        width: 75px;
        height: auto;
        transition: 0.3s;
      }
    }
    .header__container {
      align-items: center;
      transition: 0.3s;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 180px 1fr 120px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: #434343;
  }
  .active {
    font-weight: 500;
    color: var(--color-black);
  }

  .menu-icon {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    path {
      fill: #c90c31;
    }
  }

  .mobile-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    &__close {
      display: flex;
      align-items: center;
      width: 35px;
      height: 35px;
      fill: #c90c31;
      cursor: pointer;
    }
  }
}

@media screen and(max-width: 1226px) {
  .header {
    &__container {
      grid-template-columns: 180px 1fr 50px;
      grid-template-areas: "logo social menuIcon";
      gap: 20px;
    }

    .menu-icon {
      display: block;
      grid-area: menuIcon;
    }

    &__social {
      display: none;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      background-color: #fff;
      .header__logo {
        position: absolute;
        top: 19px;
        left: 50px;
        svg {
          width: 75px;
        }
      }
      .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 570px;
        &__item {
          margin: 0 auto;
          font-weight: 500;
          padding: 20px 0;
          font-size: 1.5rem;
          &:first-child {
            padding-top: 90px;
          }
        }
      }

      &__close {
        position: fixed;
        z-index: 11;
        top: 23px;
        right: 50px;
      }
    }
  }
}

@media screen and(max-width: 1120px) {
  .header {
    &__container {
      grid-template-columns: 1fr 130px 50px;
      grid-template-areas: "logo social menuIcon";
    }

    .nav {
      display: none;
    }

    .menu-icon {
      grid-area: menuIcon;
    }
    &__social {
      display: block;
    }
  }
}

@media screen and(max-width: 405px) {
  .header {
    &__container {
      grid-template-columns: 1fr 50px;
      grid-template-areas: "header menuIcon";
      gap: 20px;
    }
    &__social {
      display: none;
    }
  }
}
