.about {
  margin-bottom: 60px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    img {
      max-width: 610px;
      max-height: 405px;
    }
    &::before {
      position: absolute;
      content: "";
      top: 144px;
      left: 0;
      width: 550px;
      height: 484px;
      background-image: url("../../images/about-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -11;
    }
    &-text {
      position: absolute;
      bottom: 231px;
      right: 13px;
      font-weight: 300;
      font-size: 14px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }

  &__cart {
    padding: 30px;
    &-block {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      span {
        font-weight: 700;
      }
      svg {
        width: 22px;
        height: 22px;
        fill: var(--color-red);
        margin-right: 5px;
      }
    }
  }

  &__subtitle {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 26px !important;
    margin-bottom: 20px !important;
    text-transform: uppercase;
  }
  &__link a {
    position: relative;
    padding: 0 15px 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--color-blue);

    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      right: -4px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
