.step {
  margin-bottom: 60px;
  &__container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-height: 372px;
  }
  &__item {
    max-width: 220px;
    &-num {
      font-weight: 550;
      font-size: 64px;
      line-height: 63px;
      text-transform: uppercase;
      color: var(--color-yellow);
    }
  }
  .step__block-btn {
    text-transform: uppercase;
    height: 50px;
    padding: 0 69px;
  }
}

@media screen and(max-width: 1180px) {
  .step {
    &__container {
      flex-direction: column;
    }
    &__right {
      order: -1;
    }

    &__left {
      justify-content: space-evenly;
      max-width: 100%;
    }
    &__item {
      text-align: center;
      &-num {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and(max-width: 898px) {
  .step {
    &__block {
      align-self: center;
    }
  }
}

@media screen and(max-width: 740px) {
  .step {
    &__title {
      margin: 20px 0 !important;
      span {
        font-size: 32px;
        line-height: 34px;
        padding-right: 10px;
      }
    }
    &__right {
      display: none;
    }
  }
}

@media screen and(max-width: 470px) {
  .step {
    &__title {
      margin: 10px 0 !important;
      span {
        font-size: 22px;
        line-height: 24px;
      }
    } 
    &__left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__item {
      margin-bottom: 15px;
    }

    .step__block {
       &-btn {
         font-size: 14px;
         padding: 0 50px;
       }
    }
  }
}
