.slick-slider {
  @media screen and(max-width: 933px) {
    img {
      margin: 0 auto;
    }
  }
  @media screen and(max-width: 675px) {
    img {
      margin: 0 auto;
    }
  }

  @media screen and(max-width: 400px) {
    .button-prev,
    .button-next {
      display: none !important;
    }
  }
}
