.payment {
    margin-bottom: 40px;
  &__container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__cart {
    max-width: 1350px;
    width: 100%;
    padding: 0 40px;

    p {
        font-size: 16px;
      &:nth-child(5) {
        margin-bottom: 40px;
      }
      &:nth-child(6) {
        margin-bottom: 40px;
      }
      &:nth-child(7) {
        margin-bottom: 20px;
      }
      &:nth-child(8) {
        margin-bottom: 20px;
      }
      &:nth-child(9) {
        margin-bottom: 40px;
      }
      &:nth-child(10) {
        margin-bottom: 20px;
      }
    }
  }
  h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
