.author-course {
  padding: 70px 60px;
  margin: 0 auto;
  max-width: 1084px;
  max-height: 704px;
  width: 100%;
  border: 4px solid #f4e8da;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--bg-light);

  &__select {
    cursor: pointer;
    margin: 0 auto;
    max-width: 834px;
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 30px;
  }

  p {
    max-width: 830px;
    margin: 0 auto;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      width: 170px;
      height: 52px;
      text-transform: uppercase;
    }
  }
  .css-16eg53-control {
    box-shadow: none;
  }

  .css-16eg53-control:hover {
    border-color: var(--bg-yellow);
  }
}
