.modals {
  &__wrapper {
    margin-top: 57px;
  }

  button {
    width: 170px;
    height: 52px;
    text-transform: uppercase;
  }

  button:disabled {
    border: 2px solid;
    box-shadow: none;
    cursor: wait;
  }

  .modals {
    &__text {
      max-width: 830px;
      margin-right: auto;
      font-weight: 700;
      font-size: 18px;
      &--pt {
        padding-top: 20px;
      }
    }
  }
}
