.fill-form-modal {
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 200px;
    background: var(--bg-light);
    border: 3px solid var(--bg-yellow);
    box-shadow: -4px -4px 20px rgba(244, 232, 218, 0.1),
      4px 4px 20px rgba(244, 232, 218, 0.1);
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
  }
}
