@import "./styles/index.scss";

:root {
  --bg-light: #ffffff;
  --bg-yellow: #ecbf2e;
  --bg-yellow-light: #f4e8da;
  --bg-red: #c90c31;
  --bg-black: #333333;
  --color-yellow: #ecbf2e;
  --color-red: #c90c31;
  --color-black: #333333;
  --color-black-light: #818181;
  --color-border: #f4e8da;
  --color-blue: #0c58c9;
}
